slurm-*.out
.DS_Store

joblogs/
outputs/
outputs
*.lock

scripts/backup/
scripts/clear_dataset_cache/
scripts/old/
scripts/make_scripts.py
scripts/*.txt
scripts/**/*.txt
data/old/

__pycache__/
**/__pycache__/

*.pyc

*.ipynb
.ipynb_checkpoints/
.DS_store
.DS_store.gz

mueller/
mueller
facebook/
facebook

core/llama_3_1/unused/
